@import "variables";

.card-saving {
    position: absolute;
    bottom: 30px;
    right: 30px;

    .heart-checkbox {
        display: none;

        &:checked {
            & + label {
                .full-heart {
                    opacity: 1;
                }
                .empty-heart {
                    opacity: 0;
                }
            }
        }
    }

    .heart-label {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;

        .full-heart,
        .empty-heart {
            font-size: 24px;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1s ease;
        }

        .full-heart {
            opacity: 0;
            background: $color-background-btn;
            background-clip: text;
            color: transparent;
            transition: opacity 1s ease;
        }
    }
}

@media screen and (min-width:768px) {

    .card-saving {
        .heart-label {
            &:hover {
                .full-heart {
                    opacity: 1;
                }
                .empty-heart {
                    opacity: 0;
                }
            }
        }

    }
}