@import "variables";

@mixin absolute-postion ($bottom: auto, $right: auto) {
    position: absolute;
    bottom: $bottom;
    right: $right;
}

@mixin heart-style {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease;
}

@mixin heart-opacity($opacity) {
    opacity: $opacity;
    transition: opacity 1s ease;
}

.card-saving {
    @include absolute-postion(30px, 30px);

    .heart-checkbox {
        display: none;

        &:checked {
            + .heart-label {
                .full-heart {
                    @include heart-opacity(1);
                }
                .empty-heart {
                    @include heart-opacity(0);
                }
            }
        }
    }

    .heart-label {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;

        .full-heart,
        .empty-heart {
            @include heart-style;
        }

        .full-heart {
            @include heart-opacity(0);
            background: $color-background-btn;
            background-clip: text;
            color: transparent;
            transition: opacity 1s ease;
        }
    }
}

@mixin hover-effect {
    &:hover {
        .full-heart {
            @include heart-opacity(1);
        }
        .empty-heart {
            @include heart-opacity(0)
        }
    }
}

@media screen and (min-width:768px) {

    .card-saving {
        .heart-label {
            @include hover-effect;
        }
    }
}