@import "variables";

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 4s ease-out forwards;

    .loader {
        display: flex;
        gap: 20px;

        i {
            font-size: 5rem;
            color: $color-purple;
            animation: pulse 3s infinite ease-in-out;
        }
    }
}


.loader i:nth-child(1) { animation-delay: 0s; } 
.loader i:nth-child(2) { animation-delay: 0.25s; }
.loader i:nth-child(3) { animation-delay: 0.5s; }

@keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0.3;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0.3;
    }
}

@keyframes fadeOut {
    0% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}