
$color-primary: #99e2d0;
$color-secondary: #F6F6F6;
$color-text: #353535;
$color-white: #ffffff;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;
$font-size-title: 28px;
$font-size-menu-title: 16px;
$font-size-item-title: 18px;
$font-size-item-text: 15px;

a {
    color: inherit;
    text-decoration: none;
}