
$color-primary: #99e2d0;
$color-secondary: #F6F6F6;
$color-tertiary: #EAEAEA;
$color-text: #353535;
$color-white: #ffffff;
$color-purple: #9356DC;
$color-pink: #ff79da;
$color-icon-fonctionncement: #7E7E7E;
$color-nouveau-badge: #008766;
$color-background-btn: linear-gradient(0deg, $color-purple 0%, $color-pink 95%);
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;
$font-size-title: 28px;
$font-size-title-desktop: 40px;
$font-size-menu-title: 16px;
$font-size-item-title: 18px;
$font-size-item-text: 15px;

a {
    color: inherit;
    text-decoration: none;
}

html, body {
    margin: 0 auto;
    width: 100%;
}

.main-container {
    width: 100%;
}

*{
    font-family: $font-primary;
}

.fa-flip-horizontal {
    transform: scaleX(-1.0);
  }
  
  .fa-flip-vertical {
    transform: scaleY(-1.0);
  }