@import "style";

/****** Exploration ******/

.exploration-restaurant {
    display: flex;
    justify-content: center;
    background-color: $color-secondary;
    padding-top: 36px;
    padding-bottom: 57px;

    .headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .headline-title {
            font-size: 24px;
            font-weight: 700;
            width: 275px;
            margin: 0;
        }

        .headline-text {
            color: $color-text;
            margin-bottom: 27px;
            width: 315px;
            font-size: 18px;
            font-weight: 300;
        }
    }
}


/****** Fonctionnement ******/

.section-fonctionnement {
    margin: 0 auto;
    padding: 28px 15px 58px 15px;

    .fonctionnement-title {
        margin-bottom: 25px;
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        .filtre-fonctionnement {
            display: flex;
            width: 325px;
            height: 72px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px #00000026;
            background-color: $color-secondary;
            align-items: center;

            .circle-fonctionnement {
                position: relative;
                width: 24px;
                height: 24px;
                border-radius: 25px;
                background-color: $color-purple;
                left: -12px;

                .number-fonctionnement {
                    position: absolute;
                    top: -13px;
                    right: 8px;
                    color: $color-white;
                }
            }

            .text-fonctionnement {
                font-size: $font-size-menu-title;
                font-weight: 600;
            }

            .icon {
                color: $color-icon-fonctionncement;
                padding-left: 20px;
                padding-right: 25px;
            }

            .icon-color {
                color: $color-purple;
                padding-left: 20px;
                padding-right: 25px;
            }
        }
    }
}

/****** Restaurants ******/

.restaurants {
    padding-top: 54px;
    padding-bottom: 58px;
    background-color: $color-secondary;

    .restaurant-title {
        padding-left: 15px;
        margin: 0;
    }

    .restaurants-cards {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        gap: 20px;
        max-width: 600px;
        padding: 18px;
        
        .card {
            background: white;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            display: block;

            .nouveau-badge {
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: $color-primary;
                color: $color-nouveau-badge;
                font-size: 14px;
                font-weight: 500;
                border-radius: 2px;
                padding: 7px 9px;

                p {
                    margin: 0;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 180px;
            }

            .card-footer {
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                padding: 13px 25px;
                padding-bottom: 0px;

                .card-text {
                    .card-title {
                        margin: 0;
                    }

                    .card-subtitle {
                        margin-top: 5px;
                    }
                }
            }
        }  
    }
}

/****** Responsive Design ******/

@media (min-width: 768px) {

    .exploration-restaurant {
        padding-top: 30px;
        padding-bottom: 30px;

        .headline {
            width: 700px;

            .headline-title {
                width: 700px;
                font-size: $font-size-title-desktop;
            }

            .headline-text {
                width: 700px;
            }
        }
    }

    .section-fonctionnement {
        padding-bottom: 50px;

        .fonctionnement {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
        }
    }

    .restaurants {
        padding-top: 30px;
        padding-bottom: 12px;

        .restaurants-cards {
            grid-template-columns: repeat(2, 1fr);
            max-width: 1080px;
            row-gap: 50ps;
            column-gap: 100px;
        }
    }

    .main-container {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    .test {
        max-width: 1080px;
        align-content: center;
        margin: 0 auto;
    }

    .test-2 {
        max-width: 1050px;
        align-content: center;
        margin: 0 auto;
    }

}
