a {
  color: inherit;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  width: 100%;
}

.main-container {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.fa-flip-horizontal {
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.header-nav .back-button {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  left: 13px;
  top: 23px;
  cursor: pointer;
  z-index: 2;
}
.header-nav .header-logo,
.header-nav .header-logo-restaurants-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 1;
}

.logo {
  width: 197px;
  height: 36px;
}

.city-input {
  display: flex;
  background-color: #EAEAEA;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (min-width: 768px) {
  .city-input {
    box-shadow: none;
  }
}
.city-input input {
  background-color: #EAEAEA;
  border: none;
  font-weight: 500;
  font-size: 16px;
  width: 109px;
}
.city-input .map-pin {
  margin-right: 17px;
}
.city-input input::-moz-placeholder {
  color: #353535;
}
.city-input input::placeholder,
.city-input .map-pin {
  color: #353535;
}

/****** Responsive Design ******/
@media screen and (min-width: 768px) {
  .header-nav .header-logo,
  .header-nav .header-logo-restaurants-page {
    height: 96px;
  }
  .header-nav .header-logo {
    box-shadow: none;
  }
  .header-nav .back-button {
    top: 36px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  width: 100%;
}

.main-container {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.fa-flip-horizontal {
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

.btn {
  width: 218px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(0deg, #9356DC 0%, #ff79da 95%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2509803922);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3490196078);
  opacity: 0.85;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  width: 100%;
}

.main-container {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.fa-flip-horizontal {
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

.card-saving {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.card-saving .heart-checkbox {
  display: none;
}
.card-saving .heart-checkbox:checked + .heart-label .full-heart {
  opacity: 1;
  transition: opacity 1s ease;
}
.card-saving .heart-checkbox:checked + .heart-label .empty-heart {
  opacity: 0;
  transition: opacity 1s ease;
}
.card-saving .heart-label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.card-saving .heart-label .full-heart,
.card-saving .heart-label .empty-heart {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease;
}
.card-saving .heart-label .full-heart {
  opacity: 0;
  transition: opacity 1s ease;
  background: linear-gradient(0deg, #9356DC 0%, #ff79da 95%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: opacity 1s ease;
}

@media screen and (min-width: 768px) {
  .card-saving .heart-label:hover .full-heart {
    opacity: 1;
    transition: opacity 1s ease;
  }
  .card-saving .heart-label:hover .empty-heart {
    opacity: 0;
    transition: opacity 1s ease;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  width: 100%;
}

.main-container {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.fa-flip-horizontal {
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .footer-title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
.footer .footer-container .footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer .footer-container .footer-links .footer-groupe {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  margin-bottom: 0;
}
.footer .footer-container .footer-links li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .footer-container .footer-links li .icon-footer {
  font-size: 16px;
  width: 16px;
  height: 16px;
  transform: scale(0.75, 0.81);
  display: inline-block;
}
.footer .footer-container .footer-links .footer-mention {
  margin: 0px;
}
.footer .footer-container .footer-links .footer-groupe a {
  margin: 0px;
}

/****** Responsive Design ******/
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 57px;
  }
  .footer .footer-container {
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer .footer-container .footer-title {
    order: 2;
    margin-right: 25px;
  }
  .footer .footer-container .footer-links {
    justify-content: space-between;
    gap: 40px;
  }
  .footer .footer-container .footer-links .footer-groupe {
    flex-direction: row;
    gap: 20px;
  }
  .footer .footer-container .footer-links li {
    margin: 0px;
  }
  .footer .footer-container .footer-links .footer-mention {
    padding-left: 30px;
  }
  .footer .footer-container .footer-links .footer-groupe a {
    padding-right: 80px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  width: 100%;
}

.main-container {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.fa-flip-horizontal {
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  width: 100%;
}

.main-container {
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

.fa-flip-horizontal {
  transform: scaleX(-1);
}

.fa-flip-vertical {
  transform: scaleY(-1);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 4s ease-out forwards;
}
.loader-container .loader {
  display: flex;
  gap: 20px;
}
.loader-container .loader i {
  font-size: 5rem;
  color: #9356DC;
  animation: pulse 3s infinite ease-in-out;
}

.loader i:nth-child(1) {
  animation-delay: 0s;
}

.loader i:nth-child(2) {
  animation-delay: 0.25s;
}

.loader i:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */